@font-face {
  font-family: "FreePixel";
  src: url("fonts/FreePixel.ttf") format("truetype");
}

body {
  background-color: #121212 !important;
  color: green !important;
  font-family: "FreePixel" !important;
}

hr {
  max-width: 1000px;
  width: 90%;
  height: 1px;
  background-color: green;
}

section {
  padding-top: 80px;
}

.section-heading {
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  /* text-decoration: underline; */
}

#my-container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  margin-left: auto;
  margin-right: auto;
}

/* Add a black background color to the top navigation */
.topnav {
  max-width: 1100px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;

  position: fixed;
  z-index: 1000;

  top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: none;
  background-color: green;
  color: white;
  font-weight: bold;
}

/* ----------------------------- */
.container-body {
  padding-top: 80px;
}

/* ---------------------- */
#home-section {
  width: 100%;
  height: 90vh;
}

.home-content {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home-style {
  text-align: center;
  font-size: 100px;
  color: #333;
}

.home-down-arrow a {
  color: #333;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.home-down-arrow a:hover {
  color: green;
  text-decoration: none;
}

/* ------------------- */
.intro-div {
  display: flex;
  flex-direction: row;
}
.about-left {
  padding: 50px;
}

.about-right {
  padding: 50px;
}

.image-cover {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  border: 5px dashed green;
  background-color: transparent;

  object-fit: cover;
  object-position: center right;
}

/* ------------------------ */
.download-resume {
  color: green;
  font-size: 24px;
  font-weight: bold;
  border: 2px dashed green;
  padding: 14px;
}

.download-resume:hover {
  color: crimson;
  text-decoration: none;
  letter-spacing: 2px;
}

/* ------------------------- */
.competency-list {
  font-size: 40px;
  padding: 30px;
  text-align: center;
}

.competency-list:hover {
  font-size: 45px;
  color: crimson;
}

/* --------------------------- */

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: green;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.containerr {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.containerr.left {
  left: 0;
}

.containerr.right {
  left: 50%;
}

.containerr::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid green;
  border-radius: 16px;
  z-index: 1;
}

.containerr.right::after {
  left: -8px;
}

.containerr::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: green;
  z-index: 1;
}

.containerr.right::before {
  left: 8px;
}

.containerr .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: green;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.containerr.left .date {
  right: -75px;
}

.containerr.right .date {
  left: -75px;
}

.containerr .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: transparent;
  /* background: #f6d155; */
  border: 2px solid green;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  /* color: #006e51; */
  color: green;
  z-index: 1;
}

.containerr.left .icon {
  right: 56px;
}

.containerr.right .icon {
  left: 56px;
}

.containerr .content {
  padding: 30px 90px 30px 30px;
  background: #333;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.containerr.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.containerr .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: green;
}

.containerr .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: green;
}

/* ---------------------------- */
.project-table {
  /* border: 1px dashed green; */
  width: 100%;
}
.project-table th,
.project-table td {
  border-collapse: collapse;
  padding: 20px;
}

#table-source {
  text-align: right;
}

/* ------------------------- */
/* .thesis-table {
  border: 1px dashed green;
  width: 100%;
} */

/* .thesis-table-td,
.thesis-table-th {
  border-collapse: collapse;
  padding: 20px;
} */

#thesis {
  text-align: center;
}

#thesis h2 {
  font-weight: bold;
}

#thesis span {
  /* font-weight: bold; */
  color: crimson;
}

#thesis i {
  font-size: 15px;
}

/* ----------------------------- */
#archive {
  text-align: center;
}

#archive h2 {
  font-weight: bold;
}

#archive h5 {
  color: crimson;
}

#archive h5 i {
  font-size: 14px;
}

/* ------------------------ */
.contact-table {
  /* border: 1px dashed green; */
  width: 100%;
  text-align: center;
}

.contact-table td,
.contact-table th {
  /* border: 1px dashed green; */
  padding: 20px;
}

/* --------------------------- */
#footer-section h1 {
  text-align: center;
}
